@import "tailwindcss";

:root {
  --background: #dce3ea;
  --foreground: #dce3ea;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway-variable);
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .shadow-neumorphic-inset {
    box-shadow:
      inset -10px -10px 10px rgba(255, 255, 255, 0.7),
      inset 10px 10px 10px rgba(174, 174, 192, 0.2);
  }
}